@tailwind base;
@tailwind components;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
h1, h2, p {
    font-family: 'Poppins', sans-serif;
}

@layer utilities {
    @variants hover, focus {
      .filter-none {
        filter: none;
      }
      .filter-blur {
        filter: blur(1px);
      }
    }
  }

@tailwind utilities;